.door_container {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
    display: flex;

}

.room_card {
    background-color: black;
    color: aliceblue;
    padding: 100px;
    border-radius: 15px;
}
.room_title {
    font-style: oblique;
    font-family: Times;
    font-size:250%;
    padding-bottom: 34px;
    border-bottom: 1px white solid;
    max-width: 100%;
}
.room_p {
    font-style: oblique;
}