.home_title {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-size: 80px;
  margin-top: 100px;
}
.home_subtitle {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-size: 80px;
  margin-top: 100px;
}

.main_container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  min-width: 100%;
  height: 100%;
}

.door_inside {
  width: 226px;
  height: 558px;
  background: white;
}
.door_over {
  width: 30px;
  height: 520px;
  border-left: 200px solid #000000;
  border-bottom: 38px solid transparent;
  animation: open_door 5s;
  animation-iteration-count: 3;
}

@keyframes open_door {
  0% {
    border-left: 200px solid #000000;
  }
  25% {
    border-left: 180px solid #000000;
  }
  50% {
    border-left: 160px solid #000000;
  }
  75% {
    border-left: 140px solid #000000;
  }
  100% {
    border-left: 200px solid #000000;
  }
}
